.blogDetails {
  &__img__head {
    height: 351px;
    background: url("@/assets/images/blogDetailsHead.png") no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 170px;
  }
}

.blog {
  padding-top: 30px;
  display: grid;
  grid-template-columns: 800px 400px;
  &__article {
    &__heading {
      font-size: 50px;
      padding-bottom: 11px;
      text-align: left;
    }
    &__img {
      width: 799px;
      height: 539px;
      flex-shrink: 0;
      border-radius: 50px;
      background: #c4c4c4;
      margin-bottom: 46px;
      &__sub {
        @extend %siteFlex;
        justify-content: space-between;
        font-size: 16px;
        @extend %otherSiteFont;
      }
    }
    &__discription {
      @extend %otherSiteFont;
      font-size: 22px;
      padding-top: 46px;
    }
    &__separate {
      margin-top: 35px;
      color: #cda274;
      text-align: center;
      font-size: 25px;
      display: flex;
      width: 799px;
      padding: 53px 227px;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      border-radius: 50px;
      background: #f4f0ec;

      &__main {
        width: 345px;
        height: 70px;
      }
      &__span {
        width: 106px;
        height: 133px;
        flex-shrink: 0;
        text-align: center;
        font-size: 200px;
        font-style: italic;
      }
    }
  }
  &__tags {
    padding-left: 52px;
    display: flex;
    width: 345px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    &__heading {
      font-size: 25px;
    }
    &__block {
      display: flex;
      gap: 10px;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
  &__tag {
    text-align: center;
    font-size: 18px;
    @extend %otherSiteFont;
    display: flex;
    padding: 9px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #f4f0ec;
    width: fit-content;
    transition: 0.3s;
    &:hover {
      background: #292f36;
      color: white;
      cursor: pointer;
      
    }
  }
}
