.header {
  @extend %siteFlex;
  justify-content: space-between;
  padding-top: 53px;
  padding-bottom: 53px;
  &__logo {
    @extend %siteFlex;
    gap: 10px;
    font-size: 40px;
    transition: 0.3s;
    &:hover {
      opacity: 0.7;
    }
  }
  &__nav__menu {
    @extend %siteFlex;
    gap: 50px;
    @extend %otherSiteFont;
    &__link {
      transition: 0.3s;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}
