@import "vars", "mixins", "header", "start", "follow__project", "statistic", "articles", "footer", "blogDetails", "project", "projectDetails", "notFound";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
a{
  color: black;
}

main,
header,
footer,
body {
  position: relative;
  z-index: 1;
}

.center {
  @include container;
}

.body {
  @extend %mainSiteFont;
  overflow: hidden;
  color: $colorSiteText;
}

.borders {
  width: 1200px;
  z-index: 0;
  position: absolute;
  display: grid;
  grid-template-columns: 400px 400px 400px;
  top: 0;
  bottom: 0;
  &__block {
    border-right: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
  }
}
