@import "vars", "mixins", "header", "start", "follow__project","statistic";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

.center {
  @include container;
}

.body {
  @extend %mainSiteFont;
  overflow: hidden;
  color:  $colorSiteText;
}