@import "vars", "mixins";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

.center {
  @include container;
}

.body {
  @extend %siteFont;
  overflow: hidden;
  color:  $colorSite;
}